<div class="page" ng-controller="AccountCreationController as account" >
  <form class="new-account-page" ng-submit="account.createAccount()" >
    <div class="sticky bottom">
      <div class="row ">
        <div class="small-8 columns">
          <label>Welkom<span ng-show="!account.nameSuccess">, hoe heet je?</span>
            <span ng-show="account.nameSuccess">{{account.nameSuccess}}</span>
            <div class="label alert" ng-show="account.nameError">{{account.nameError}}</div>

            <input ng-model="account.name" ng-model-options="{debounce: 650}" ng-change="account.validateName()" type="text" placeholder="{{account.namePlaceholder}}" />
          </label>
        </div>
      </div>  
      <div class="row">
        <div class="small-8 columns">
          <label><span ng-show="!account.emailSuccess"> Wat is je email adres</span>
            <span ng-show="account.emailSuccess" class="success">Je email adress is: {{account.emailSuccess}}</span>
            <span ng-show="account.emailError" class="error label">{{account.emailError}}</span>
            <input ng-model="account.email" ng-model-options="{debounce: 650}" ng-change="account.validateEmail()" type="email" placeholder="{{account.emailPlaceholder}}" no-validation/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-8 columns">
          <label>Kies een Wachtwoord, om later mee in te loggen
            <span ng-show="account.passwordError" class="error label">{{account.passwordError}}</span>
            <div class="row collapse">
              <div class="small-6 columns">
                <input ng-model="account.password" ng-model-options="{debounce: 650}" ng-change="account.validatePassword()" type="{{account.passwordVisible  ? 'text':'password'}}" placeholder="{{account.passwordPlaceholder}}">
              </div>
              <div class="small-2 columns">
                <div  ng-click="account.passwordVisible = !account.passwordVisible" class="button postfix">{{!login.passwordVisible ? 'show':'hide'}}</div>
              </div>
            </div>
          </label>
        </div>
        <div class="small-8 columns login">
          <div class="label alert" ng-show="account.accountError">{{account.accountError}}</div>
          <div class="label success" ng-show="account.accountSuccess">{{account.accountSuccess}}</div>
          <div  ng-click="account.createAccount()" class="button expand">Creeer account</div>
        </div>

        <div class="small-8 columns new-login">
          <a href="#" ui-sref="login" class="text-center small-12 columns login">Ik heb al een account</a>
        </div>

      </div>
    </div>

  </form>
</div>
