<div ng-controller="homeController as home" class="home-page page">
  <div class="row name header">
    <div class="action"></div>
    <div class="title"><!--{{home.name}}--> Uw Lijsten</div>
  </div>
  <div class="row list">
    <div class="row collapse listitem panel" ng-repeat="list in home.lists"  ui-sref='viewList({id:list.listid})'>
      <div class="small-1 columns image"><span class="entypo-record"></span></div>
      <div class="small-9 columns name">{{list.name}}</div>
      <div class="small-2 columns total">{{home.totalListItems(list)}} </div>
    </div>
  </div>


  <div class="row sticky bottom">
    <div class="button right add" ng-click="home.newlist.showForm = !home.newlist.showForm">
      <span ng-show="!home.newlist.showForm" class="entypo-plus"></span>
      <span ng-show="home.newlist.showForm" class="entypo-minus"></span>
    </div>
    <div class="new-list white-bg columns" ng-show="home.newlist.showForm">
      <div class="large-12 columns">
        <label>Naam
          <input ng-model="home.newlist.name" type="text" ng-model="login.email" placeholder="{{login.emailPlaceholder}}" />
        </label>
      </div>      
      <div class="large-12 columns">
        <label>Categorie
          <select ng-model="home.newlist.category">
            <option value="{{key}}" ng-selected="{{key == home.newlist.category}}"  ng-repeat="(key, value) in home.newlist.categories">{{value}}</option>
          </select>
        </label>
      </div>
      <div class="large-12 columns">
        <div class="button" ng-click="home.addlist()">Toevoegen</div>
      </div>
    </div>
  </div>
</div>