<a class="button expand text-left" ui-sref='series'>All series</a>
<div ng-style="{'background-image': 'url('+ imageBaseUrl + 'w1280' + movie.movieDB.backdrop_path +')',
               'background-size' : 'cover', 'background-attachment': 'fixed', 'background-repeat': 'no-repeat'}">
  <div class="row view-serie">

    <div class="row">
      <div class="small-3 medium-3 columns">
        <img src="{{movie.eztv.images.poster}}" style="width: 100%"/>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        <h2 id="titel">{{movie.eztv.title}}</h2>
        <h3 id="rating">{{movie.eztv.rating.percentage}}/100</h3>
        <h3 id="genre"><span ng-repeat="(key, value) in movie.eztv.genres">{{value}}&nbsp;</span></h3>
        <h3 id="kwaliteit"><span ng-repeat="download in movie.yify.torrents">{{download.quality}}&nbsp;</span> </h3>
        <h3 id="geupload">{{movie.yify.date_uploaded}}</h3>
        <p id="plot">{{movie.eztv.synopsis}}</p>
      </div>

    </div>
    <div class="row">
      <!-- seasons -->
      <div class="small-3 columns">
        <br>
        <div class="button small-12" ng-repeat="season in movie.formattedSeasons | orderBy : 'id'" ng-click="movie.selectedSeason = season.id">{{season.label}}</div>
      </div>

      <!-- episodes-->
      <div class="small-9 columns"> 
        <h2 class="small-12 columns">Season: {{movie.selectedSeason}}</h2>
        <div class="small-12 columns" ng-repeat="download in movie.eztv.episodes | filter : {season : movie.selectedSeason} | orderBy : 'episode'" ng-if="download.episode > 0">
          <br><div>
          <h5>S{{download.season}}E{{download.episode}}: {{download.title}} {{download.quality}}</h5>
          <div class="actions">
            <!-- download buttons -->
            <a class="button" ng-repeat="(key, value) in  download.torrents" href="{{value.url}}" ng-if="key != 0">
              {{key}}
            </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>