// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
        primary:    #333,
        secondary: #b10037,
        danger:     #f53d3d,
        light:      #fff,
        dark:       #222,
        favorite:   #69BB7B
);

$text-color:                 #222 !default;
$paragraph-color:            $text-color !default;
$link-color:                 map-get($colors, dark) !default;
$background-color:           #fff !default;
$subdued-text-color:         #666 !default;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif !default;
$font-size-base:             1.4rem !default; // 1.4rem == 14px

$toolbar-background:         map-get($colors, secondary) !default;
$toolbar-border-color:       #9a0033 !default;
$toolbar-text-color:         #fff !default;
$toolbar-active-color:       map-get($colors, light) !default;
$toolbar-inactive-color:     #8c8c8c !default;

$toolbar-md-text-color:      $toolbar-text-color !default;
$toolbar-md-button-color:   $toolbar-text-color;

$list-text-color:            $text-color !default;
$list-background-color:      $background-color !default;
$list-border-color:          map-get($colors, seconday) !default;


ion-content ion-icon {
  //color: map-get($colors, primary);
}

.alert-button-group button {
  color: map-get($colors, dark);
}

.toolbar .bar-button-default {
  color: $toolbar-md-button-color;
}

.button-default {
  background-color: map-get($colors, secondary) !important;
}



.button-clear {
  color: map-get($colors, secondary) !important;
}