.state-login { 
  background-image: url("../img/9._veggie-burger-420x420.jpg");
  background-size: cover;
  background-position: top left;
  .page { 
    background-color: rgba(83, 210, 127, .8); 
  }

  label { 
    color: $white;
  }

  .intro { 
    font-family: 'Lato', sans-serif;
    .welcome-at { 
      font-size: 3.5rem;
      color: $white;
      line-height: 0.7;
      word-break: break-all;
      margin-bottom: 10vh;
    }
    .welcome { 
      font-size: 2rem;
      color: $white;
      font-weight: bold;

    }
  }

  a.create-account { 
    color: $white;
    text-decoration: underline;
    padding-bottom: 1rem;
  }
}

//animations
.state-login[ui-view]{ //very important!
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;


  -webkit-animation-duration: .35s;
  animation-duration: .35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &.ng-enter { 
    .page { 
      .login-form {
        -webkit-animation: slideInUp 1s;
        animation: slideInUp 1s;
      }
    }
  }
  &.ng-leave { 
    .page { 
      -webkit-animation-name: fadeInRight 1s;
      animation-name: fadeInRight 1s;
    }
  }
}